.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
    position: relative;
    background: #a20000;
}

.heading {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 800;
}

.contactItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

.contactItemHeading {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 0.5rem;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 90vw;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.contactItemContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
}

.personItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 150px;
    padding: 0.9rem 0;
}

.personItemName {
    padding-bottom: 0.5rem;
}