.events {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 8rem;
    position: relative;
}

.heading {
	color: #ff3333;
	font-size: 30px;
	font-weight: 800;
	z-index: 1;
}

.eventsContainer {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
	z-index: 1;
}

.eventCard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 250px;
	height: 300px;
	margin: 1rem;
	border-radius: 10px;
	padding: 1.5rem;
	padding-top: 2.5rem;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.eventHeading {
	color: #ffffff;
	font-family: "Inter";
	font-size: 20px;
	font-weight: 800;
}

.numberOfEvents {
	color: #ffffff;
	font-family: "Inter";
	font-size: 8px;
	font-weight: 600;
	padding: 0.5rem 0;
}

.description {
	color: #ffffff;
	font-family: "Inter";
	font-size: 12px;
	padding: 0.5rem 0;
}

.hyperlink {
	flex: 1 1;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
}

.hyperlinkSpan {
	font-size: 12px;
	border: 1px solid #ff3333;
	color: #ffffff;
	padding: 0.5em 0.8rem;
	background-color: #ff3333;
	border-radius: 25px;
	border-bottom-left-radius: 0;
}

.designThing {
	position: absolute;
    height: 133vh;
    width: 97vw;
    top: -330px;
    background-size: 953px;
	opacity: 0.3;
}

@media screen and (max-width: 480px) {
	.designThing {
		width: 92vw;
	}
	.eventCard {
		width: 320px;
		height: 350px;
	}
	.description {
		font-size: 1rem;
	}
	.hyperlinkSpan {
		font-size: 1rem;
	}
	.linkContainer {
		flex: 1;
		display: flex;
		align-items: flex-end;
	}
}