.container {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ffffff2b;
    position: sticky;
    top: 0;
    background-color: #000000;
    z-index: 5;
}

.navOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navSpan {
    cursor: pointer;
}

.flexOne {
    flex: 1;
}

@media screen and (max-width: 480px) {
    .container {
        justify-content: center;
    }
    .flexOne {
        display: none;
    }
}