.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    max-width: 80vw;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .heroImage {
        height: auto;
        width: 300px;
    }
}