.eventItem {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.eventItemActive {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.eventDetailsActive {
    display: block;
}

.eventDetailsHidden {
    display: none;
}