.eventList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 90vw;
    margin: 0 auto;
    border: 1px solid #9CA3AF47;
    border-radius: 12px;
}

.eventItem {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 20px 10px;
    cursor: pointer;
}

.eventItem::before, .eventItemActive::before {
    content: "▶";
    margin-right: 10px;
}

.eventItemActive {
    display: flex;
    align-items: center;
    color: #FF3333;
    border-radius: 4px;
    padding: 20px 10px;
    cursor: pointer;
}

.eventDetailsActive {
    display: block;
}

.eventDetailsHidden {
    display: none;
}

.actualEventDetails {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 90vw;
}

.eventLeft {
    flex: 1;
    border: 1px solid #9CA3AF47;
    border-radius: 12px;

    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.eventRight img {
    border-radius: 12px;
}

.topDetails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    -webkit-user-select: none;
    user-select: none;
}

.detail span {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
}

span.detailSub {
    font-size: 0.8rem;
}

.subHeadingTitle {
    font-weight: 600;
    margin-top: 1rem;
}

.prize, .rounds, .organizers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
    margin-bottom: 1rem;
}

.prizeSub, .roundsSub, .organizersSub {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 0.5rem;
}