.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapperSpan {
    font-size: 2rem;
    color: var(--nextBlue);
    padding: 0 1rem;
}